/* General Layout */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  color: #333;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 2rem 0;
}

.title img {
  height: 50px;
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
}

nav {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #667309;
  font-weight: bold;
}

nav a:hover {
  color: #7E8C11;
}

/* Form Styling */
form {
  width: 100%;
}

label {
  font-weight: bold;
  margin-top: 1rem;
  color: #555;
}

input, select, button {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

button {
  background-color: #667309;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #7E8C11;
}

/* Address Fieldset */
fieldset.address {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 6px;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  color: #667309;
}

/* Modal */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Content {
  border: none;
  border-radius: 8px;
  padding: 1rem;
  max-width: 400px;
  margin: auto;
  text-align: center;
  max-height: 150px;
}

.ReactModal__Content h2 {
  margin-bottom: 1rem;
  color: #667309;
}

.ReactModal__Content button {
  background-color: #667309;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.ReactModal__Content button:hover {
  background-color: #7E8C11;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #667309;
  color: #fff;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e0e0e0;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 10px;

  margin-top: 1rem;
}

.table-page-count {
  width: 250px;
  margin-bottom: 15px;
}